@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: transparent;
}

main {
  display: block;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  vertical-align: top;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

input,
button,
textarea,
select {
  outline: 0;
  font: inherit;
}

input,
button,
select {
  box-sizing: border-box;
  vertical-align: middle;
}

input[type="submit"],
input[type="image"],
button,
select,
label {
  cursor: pointer;
}

/************************************************
Base Setting
************************************************/
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Meiryo, YuGothic, "Yu Gothic Medium", "Yu Gothic", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', sans-serif;
  line-height: 1.625;
  color: #000;
}

b,
strong,
.b,
.fwb {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI semibold", Meiryo, YuGothic, "Yu Gothic", "Segoe UI", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }

  a:hover {
    text-decoration: underline;
  }
}